.imagesContainer {
  margin-top: 70px;
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px 0;
}

.imageContainer:first-of-type img {
  width: 60%;
}

.sbsImageContainer,
.sbsImageContainerI {
  display: flex;
  align-items: center;
}

.sbsImage {
  width: 50%;
  text-align: center;
}

.sbsImage img {
  border-radius: 10px;
}

.sbsContent {
  width: 50%;
}

.sbsTitle {
  font-size: 35px;
  margin-bottom: 15px;
  font-weight: bold;
  text-transform: capitalize;
}

section.banner {
  min-height: 100vh;
  background-color: /*#b3c0ff*/ #99b4ff;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../public/bannerBg.jpg");
  background-position: center;
  background-size: cover;
}

div.banner {
  display: flex;
  min-height: 100vh;
  justify-content: space-between;
  align-items: stretch;
}

.heroText {
  width: 60%;
  margin-right: 70px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 150px 0;
}

.heroText h1 {
  font-family: "veronabold";
  font-size: 40px;
  color: #fff;
  text-transform: capitalize;
}

.heroText p {
  color: #fff;
  margin: 20px 0 30px;
}

.heroForm {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 150px 0;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 10px 30px 0 rgb(0 0 0 / 12%);
}

.form h3 {
  font-size: 25px;
}

.form p {
  margin: 20px 0;
  text-align: center;
  font-size: 16px;
}

.form form {
  border-radius: 10px;
  padding: 10px;
  margin: 0 auto;
}

.form input {
  width: 100%;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid gray;
  padding-left: 10px;

  height: 40px;
}

.form select {
  width: 100%;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid gray;
  height: 40px;
  padding-left: 10px;
}

.form textarea {
  width: 100%;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  height: 80px;
  margin: 10px 0;
}

.form button {
  padding: 10px 20px;
  background-color: #002eff;
  border: 2px solid #002eff;
  color: #fff;
  border-radius: 100px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 14px;
  transition: 0.3s ease-in-out;
  margin-top: 20px;
}

.form button:hover {
  background-color: #fece1a;
  color: #1d1d1d !important;
  border: 2px solid #000;
}

.privacySection {
  padding: 150px 0 70px;
}

.privacySection p {
  margin-top: 30px;
}

.privacySection h3 {
  margin-top: 30px;
}

.privacySection a {
  color: #002eff;
}

.privacySection a:hover {
  color: #fece1a;
}

.cookieWrapper {
  background-color: #002eff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9;
}

.cookieContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 130px;
  padding: 15px 0;
  color: #fff;
}

.cookieImage {
  width: 18%;
  height: 100%;
}

.cookieImage img {
  height: 100%;
}

.cookieText {
  width: 62%;
}

.cookieButton {
  width: 20%;
}

.cookieButton button {
  background-color: #fece1a;
  border: 2px solid #000;
  border-radius: 50px;
  padding: 10px 20px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 14px;
  transition: 0.3s ease-in-out;
}

.cookieButton button:hover {
  background-color: #000;
  border: 2px solid #fece1a;
  color: #fece1a;
}

.cookieImage h3 {
  display: none;
}

@media (max-width: 991px) {
  div.banner {
    flex-direction: column;
    padding: 100px 20px;
    text-align: center;
  }
  .heroText,
  .heroForm {
    width: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
  }
  .heroText {
    margin: 50px 0;
  }
  .heroText h1 {
    font-size: 35px;
  }
}

@media (max-width: 767px) {
  .sbsImageContainer {
    flex-direction: column;
    padding: 20px 0;
  }
  .sbsImageContainerI {
    flex-direction: column-reverse;
    padding: 20px 0;
  }
  .sbsContent {
    width: 100%;
    text-align: center;
  }
  .sbsImage {
    width: 60%;
    margin-bottom: 30px;
  }
  .sbsTitle {
    font-size: 30px;
    margin-bottom: 15px;
    font-weight: bold;
  }
  .imagesContainer {
    margin-top: 30px;
  }
  .cookieContainer {
    flex-direction: column;
    height: auto;
  }
  .cookieImage img {
    width: 10%;
    margin-bottom: 10px;
  }
  .cookieImage,
  .cookieText,
  .cookieButton {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 576px) {
  .imageContainer {
    padding: 10px;
  }
  .cookieText h3 {
    font-size: 20px;
  }
  .cookieText p {
    font-size: 14px;
  }
  .cookieContainer {
    padding: 15px 0 20px;
  }
  .cookieImage {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cookieImage h3 {
    display: block;
    margin-right: 10px;
    font-size: 20px;
  }
  .cookieText h3 {
    display: none;
  }
  .cookieButton button {
    padding: 8px 18px;
    font-size: 12px;
  }
}
