.whiteLabelBanner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0 150px;
  padding-top: 150px;
  text-align: center;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../public/bannerBg.jpg");
  background-position: center;
  background-size: cover;
}

.p {
  width: 50%;
  margin: 50px auto 40px;
  text-align: center;
  font-size: 24px;
}

.heroContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heroText {
  width: 55%;
}
.heroText h1 {
  color: #fff;
}

.heroText p {
  color: #fff;
}
.heroForm {
  width: 35%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
  padding: 40px 20px;
  box-shadow: 0 10px 30px 0 rgb(0 0 0 / 12%);
}

.form h3 {
  font-size: 25px;
}

.form p {
  margin: 20px 0;
  text-align: center;
}

.form form {
  border-radius: 10px;
  padding: 10px;
  margin: 0 auto;
}

.form input {
  width: 100%;
  margin: 10px 0;
  border-radius: 5px;
  padding-left: 10px;
  border: 1px solid gray;
  height: 40px;
}

.form select {
  width: 100%;
  margin: 10px 0 20px;
  border-radius: 5px;
  border: 1px solid gray;
  height: 40px;
  padding-left: 10px;
}

.form button {
  padding: 10px 20px;
  background-color: #002eff;
  border: 2px solid #002eff;
  color: #fff;
  border-radius: 100px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 14px;
  transition: 0.3s ease-in-out;
  margin-top: 20px;
}

.form button:hover {
  background-color: #fece1a;
  color: #1d1d1d !important;
  border: 2px solid #000;
}

.partnerLogo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.partnerLogo img {
  width: 20%;
  border-radius: 10px;
  filter: grayscale(1);
  margin: 0 20px;
}

.partnerLogo img:hover {
  filter: none;
}

.industryBoxes,
.whiteLabelBoxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  margin: 50px 0;
}

.whiteLabelBoxes {
  margin-bottom: 0;
}

.industryBox {
  width: 48%;
  margin: 15px 10px;
  background-color: #fff;
  box-shadow: 0 10px 30px 0 rgb(0 0 0 / 12%);
  padding: 40px;
  text-align: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.industryBox img {
  width: 50%;
}

.agencyBoxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  margin: 50px 0;
}

.agencyBox {
  width: 30%;
  margin: 15px 10px;
  background-color: #fff;
  box-shadow: 0 10px 30px 0 rgb(0 0 0 / 12%);
  padding: 40px;
  text-align: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.agencyBox img {
  width: 70%;
}

.whiteLabelBox {
  background-color: #fcfcfc;
  box-shadow: 0 10px 30px 0 rgb(0 0 0 / 12%);
  border-radius: 10px;
  padding: 40px;
  width: 23%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.whiteLabelBox h3 {
  font-size: 24px;
  font-weight: bold;
}

.whiteLabelBox img {
  width: 100%;
  margin: 30px 0;
}

.revenueGoals {
  text-align: center;
  margin-bottom: 50px;
}

.revenueGoals img {
  width: 30%;
}

.abcContainer {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin: 50px 0;
  flex-wrap: wrap;
}

.abcWrapper {
  width: 33%;
  margin: 15px 0;
}

.abc {
  padding: 40px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 10px 30px 0 rgb(0 0 0 / 12%);
  display: flex;
  flex-direction: column;
  margin: 15px;
  align-items: center;
  text-align: center;
  height: 100%;
}

.abc h3 {
  font-family: "veronabold";
}

.abc h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #002eff;
  color: #fff;
  border-radius: 50%;
  font-size: 25px;
  margin-bottom: 30px;
}

.abc p {
  margin: 10px 0;
}

.abc img {
  width: 40%;
  margin-bottom: 20px;
}

.adsLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0 0;
  flex-wrap: wrap;
}

.adsLogo img {
  width: 18%;
  margin: 15px;
  border-radius: 10px;
  /* filter: grayscale(1); */
  padding: 25px;
}

.adsLogo img:hover {
  filter: none;
  box-shadow: 0 10px 30px 0 rgb(0 0 0 / 8%);
}

.pricingCard {
  background: #fff;
  /* box-shadow: 0 10px 30px 0 rgb(0 0 0 / 10%); */
  border-radius: 10px;
  padding: 20px;
  margin: 0 0 20px;
  height: 100%;
}

.flatPrice {
  margin-top: 30px;
  text-align: center;
}

.flatPrice h3 {
  display: inline-block;
  /*background-color: #002eff;
  padding: 10px 20px;
  border-radius: 40px;
  color: #fff;
  cursor: pointer; */

  background-color: #002eff;
  border-radius: 50px;
  padding: 15px 30px;
  color: #fff;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.shape {
  background-image: url("../public/shape.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container img {
  width: 60%;
}

.container img {
  width: 50%;
}

.title {
  font-weight: 600;
  margin: 20px 0;
}

.container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 20px;
}

.container h4 {
  font-weight: 600;
}

.price {
  background-color: #002eff;
  border-radius: 50px;
  padding: 5px 20px;
  color: #fff;
  cursor: pointer;
}

.pricingCard .detail {
  text-align: center;
}

.priceContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 12%);
  margin: 50px 0 0;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
}

.main2 {
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 12%);
  margin: 0;
  border-radius: 0 0 15px 15px;
  overflow: hidden;
}
.webPriceTitle {
  margin: 30px 0;
}
.main3 {
  margin: 0;
  border-radius: 15px;
  overflow: hidden;
}

.priceTable {
  width: 100%;
  border-collapse: collapse;
  border: 0 none;
}
.priceTable tr:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.03);
}
.priceTable tr td {
  border-left: 1px solid rgba(0, 0, 0, 0.05);
  padding: 8px 24px;
  font-size: 18px;
}
.priceTable tr td:first-child {
  border-left: 0 none;
}
.priceTable tr td {
  text-align: center;
}
.priceTable tr:nth-child(even) {
  background-color: #ffffff;
}
.priceTable tr:nth-child(odd) {
  background-color: #f7f7f7;
}
.priceTable tr:hover {
  background-color: #eeeeee;
}
.priceTable .fa-check {
  color: #002eff;
}
.priceTable .fa-times {
  color: #d8d6e3;
}

/* .priceTable tr:nth-child(2n) td:nth-child(3) {
  background-color: rgba(216, 214, 227, 0.25);
} */
.priceTable tr td {
  /* background-color: rgba(216, 214, 227, 0.15); */
  padding: 20px 40px;
}

.priceTable tr.priceTableHead td {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
.priceTable tr.priceTableHead {
  background-color: #002eff;
  color: #ffffff;
}
.priceTable td.price {
  color: #002eff;
  padding: 25px;
  font-size: 30px;
  font-weight: 600;
}
.priceTable td.priceTablePopular {
  border-top: 3px solid #002eff;
  color: #002eff;
  text-transform: uppercase;
  font-size: 12px;
  padding: 12px 48px;
  font-weight: 700;
}
.priceTable .priceBlank {
  background-color: #fafafa;
  border: 0 none;
}

.priceTable svg {
  width: 90px;
  fill: #002eff;
}
.priceTabsContainer {
  display: none;
}
@media (max-width: 1200px) {
  .industryBox {
    width: 47%;
  }
  .whiteLabelBox {
    width: 47%;
    margin: 15px 10px;
  }
  .abcWrapper {
    width: 50%;
  }
}

@media (max-width: 991px) {
  .whiteLabelBanner {
    padding: 120px 0 50px;
  }
  .whiteLabelBanner h1 {
    font-size: 35px;
  }
  .heroContainer {
    flex-direction: column;
  }
  .heroText {
    margin-bottom: 50px;
    width: 100%;
  }
  .heroForm {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .agencyBox {
    width: 46%;
  }
  .industryBox {
    width: 46%;
  }
  .whiteLabelBox {
    width: 46%;
  }
  .whiteLabelBanner h1 {
    width: 90%;
    font-size: 30px;
  }
  .p {
    width: 90%;
    font-size: 20px;
  }
  .whiteLabelBanner img:first-of-type,
  .whiteLabelBanner img:last-of-type {
    width: 30%;
  }
  .abcWrapper {
    width: 100%;
  }
  .priceTable tr.priceTableHead td {
    font-size: 14px;
  }
  .priceTable tr td {
    padding: 20px;
    font-size: 14px;
  }
  .main3 .priceTable {
    display: none;
  }
  .priceTabsContainer {
    padding: 0 20px;
    display: block;
  }
  .priceTabs {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 20px;
    flex-wrap: wrap;
  }
  .priceTab {
    padding: 10px 20px;
    background-color: #fff;
    color: #002eff;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid #002eff;
    cursor: pointer;
    margin-bottom: 10px;
  }
  .priceTab.active {
    background-color: #002eff;
    color: #fff;
    border: 1px solid #002eff;
  }
  .priceTabsContainer .price {
    background: none;
    margin: 0 auto;
    text-align: center;
  }
  .priceTabsContainer .priceDesc {
    margin-top: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 30px 0 rgb(0 0 0 / 8%);
    padding: 20px;
  }
  .priceTabsContainer .price h2 {
    margin: 0;
    color: #002eff;
    font-size: 50px;
    font-weight: bold;
  }
  .priceTabsContainer .priceDesc ul {
    text-align: center;
    list-style: none;
    margin: 20px 0 30px;
    padding: 0;
  }
  .priceTabsContainer .priceDesc ul li {
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0;
  }
}

@media (max-width: 576px) {
  .agencyBox {
    width: 100%;
  }
  .industryBox {
    width: 100%;
  }
  .whiteLabelBox {
    width: 100%;
  }
  .partnerLogo img {
    padding: 10px 0 !important;
    margin: 0 10px;
  }
  .adsLogo img {
    width: 40%;
    margin: 15px;
    border-radius: 10px;
    padding: 5px;
  }
  .priceTabs {
    justify-content: center;
    padding: 0;
  }
  .priceTab {
    width: 100%;
  }
  .revenueGoals img {
    width: 50%;
  }
}
